:root {
  --h1: 40px;
  --h2: 32px;
  --h3: 28px;
  --h4: 24px;
  --h5: 20px;
  --h6: 16 px;

  --label: 16px;
  --ls: 5px;

  --background-color: rgb(248, 247, 247);
  --font-color: rgb(0, 0, 0);
}

.topnav-centered{
    font-size: var(--h4);
}